#postContainer{

    width:600px;
    background: url('http://localhost/authentication/application/img/postbg.jpg');
    height: auto;
    padding: 20px;
    float: left;
    border-bottom-left-radius: 10px;
    box-shadow: 1 1 1 black;
}
.deletePost{


    padding :10px;
    text-decoration: none;
    font-size: 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: steelblue;
    color: white;
    margin-top: -5px;
    margin-right: 10px;
    border: solid 1px;

}
.editPost{


    padding :10px;
    text-decoration: none;
    font-size: 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: steelblue;
    color: white;
    margin-right: -110px;
    border: solid 1px;
}
.postDelete {
    height: 40px;
    width: 100px;
    float: right;
    margin-top: 15px;
}
.postDelete img{
    height: 35px;
    width: 35px;

}

.posts {
  
    padding: 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
     width: 550px;
     margin-top: 20px;
     margin-left: 10px;
     }

.post-contents{
    width: 450px;
    margin-left: auto;
    box-shadow: 10px 10px 5px black;
}

.square{
    height: 70px;
    width: 70px;
    /*background: url('http://localhost/authentication/application/img/<?php echo $profile ?>');*/
    background-color: none;
    position: absolute;
    margin-left: -110px;
    margin-top: 10px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-position: center center;
   /* border: outset 4px #3F6099;*/
    overflow: hidden;
    box-shadow: 10px 10px 5px black;
}
.square img{
    
    background-position: center;
    height: 100%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.triangle {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: -32px;

    margin-top: 30px;
    -webkit-transform: rotate(270deg);
    color: #3F6099;
    -moz-transform: rotate(270deg);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;


}
.tw{
    margin-top:32px;
    margin-left: -32px;
}
.author{
    margin-left: -120px;
    margin-top: -11px;
    height: 10px;
    width: 200px;
    font-family: cursive;
    font-size: 11px;
    font-weight: bold;
    
}


.title{
    background: url('http://localhost/authentication/application/img/news-bg.jpg');
   /* background: #3F6099;*/
    padding: 15px;
    color: white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;


}

.title h2 {
    font-family: verdana;
    font-size: 25px;
    margin-top: 20px;
    width: 100%;
  
    

}
.contents{
    /*background: #7990b7;*/
    background: url('http://localhost/authentication/application/img/containerbackground.png');
    margin-top: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px;

}
.create-post{
    
    
    margin-top: -140px;
    margin-right: 200px;
    border: none;
    float:right;

    padding :10px;
    text-decoration: none;
    font-size: 12px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 3px;
    background: #3F6099;
    color: white;

}
.new-create-post{
    
    
    margin-top: -50px;
    margin-right: 400px;
    border: none;
    float:right;
    z-index: 8999;
    padding :10px;
    text-decoration: none;
    font-size: 12px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 3px;
    background: #14192f;
    color: white;

}
.login-info{
   
    
    margin-top: -140px;
    margin-left: 200px;
    border: none;
    float:left;
    padding :10px;
    text-decoration: none;
    font-size: 12px;
    font-family: sans-serif;
    -moz-border-radius: 100px;
    -webkit-border-radius: 3px;
    background: #3F6099;
    color: white; 
}
.create-post:hover{
    background: #3F4599;
    cursor: pointer;
    margin-top: -139px;
}
.create-post:focus{
    margin-top: -139px;
    
}

.create-contents{

    width :400px;
    margin: auto;   
}
textarea#style{

    background: #7990b7;
    height: 150px;
    width: 300px;
    border: 
    
}
input#style{

    background:#909496;
    height: 50px;
    width: 250px;
    border: dotted 1px;
    
    font-weight: bold;
    font-size: 20px;
}


#header{
    height: 75px;
    width :1000px;
    border-top-left-radius: 10px;
    border-radius-top-right-radius: 10px;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    float:left;
    background: url('http://localhost/authentication/application/img/site header.png');
    z-index: 7000;
    border-bottom: solid 1px black;

}
#navigatebar{
    margin-left: 30px;
    border-radius: 10px;
    height: auto;
    margin-top: 11px;
    overflow: hidden;
    width: 420px;
}
#profileheader{
    background: url('http://localhost/authentication/application/img/site header profile.png');
    z-index: 6000;
    height: 60px;
    float: right;
    width: 300px;
    margin-top : -70px;
    border-top-right-radius: 10px;
    border:solid 3px;
   
    
}
#profileheader li{
   margin-top: 10px;
       
}
.header{
    width :105px;
    float :left;
    
    list-style: none;

    
}

.header a{
    text-align: center;
    margin: auto;
    color:white;
    display: block; width: 97px; height: 25px;
    padding: 72px 0 0 0; margin: -45px 20px 20px 0px;
    font: bold 14px Verdana; text-transform: uppercase;
    color: #ddd; /*text-shadow: 2px 2px 2px #aaa;*/ text-decoration: none;
    
    padding-bottom: 48px;
    border: solid 1px black;
}


.headercooked, .headeridle, .headerhover
{ display: block; /*background: url('http://localhost/authentication/application/img/header.jpg') no-repeat;*/ }
 
.headercooked { background-position: -0px -0px; width: 105px; height: 55px; }
.headeridle { background-position: -0px -54px; width: 105px; height: 55px; }
.headerhover { background-position: -0px -107.9px; width: 105px; height: 55px; }

.sideheader, .sideheaderhover {

    display: block; background: url('http://localhost/authentication/application/img/sideheader.png') no-repeat; 

}
.sideheader {background-position: 0px 0px; width: 180px; height: 67px; }
.sideheaderhover{background-position: -0px -77px; width: 180px; height: 67px; }