body {

    background: grey;
}
form label {
    margin-left: 5%;
    margin-right: auto;
}
p {
    font-family: verdana;
}
h2 {
    font-family: verdana;
    padding-top: 7px ;
}
fieldset {
    width: 300px;
    margin: auto;
    margin-bottom: 2em;
    display: block;
}
.errors {
    color: darkred;

    width: 100%
}
.forms {

}
.forms-header {
    height: 50px;
    width: 400px;
    text-align: center;
    font: aerial;
    color: #000000;
    background : #3F6099;
    margin-top: -21px;
    margin: auto;
    margin-bottom: 20px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 3px;
}
label {
    float: left;
    display: block;
}
input[type=text],input[type=password]{

    display : block;
    margin: 10px auto auto auto;
    width: 180px;
    border: 3px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 3px;
    padding :10px;

}
input[type=submit],form a{
    border: none;

    margin-left: 165px;
    padding :10px;
    margin-right: -130px;
    text-decoration: none;
    font-size: 12px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 3px;
    background: #3F6099;
    color: white;
    margin-top: -5px;


}

input[type=submit]:hover, form a:hover{

    background: #287368;
    cursor: pointer;
}
table {
    padding: 10px;
}
.signup {
    padding: 20px;
}
td{
    width: 250px;
}
.signup-form {
    overflow: hidden;

    background : grey;
    width: 500px;
    display: block;
    height :auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: px;

    border: 3px sold #333333;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: aerial black, aerial;
}
.fields {
    color: grey;
}